.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5em;
  margin-top: 0.5rem;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: flex-start;
  font-size: 14px;
}

.new-tweet h2 {
  font-size: 14px;
  color: #474631;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

#tweet-text {
  color: #474631;
  background-color: rgba(255,255,255,0);
  border-style: hidden;
  border-bottom: 6px solid #474631;
  resize: none;
  font-weight: 600;
  line-height: 1;
}

.submit-tweet {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseLine;
  padding-top: 1rem;
}

button {
display: flex;
align-items: center;
font-family: 'Bungee', cursive;
color: #FBD9B4;
background-color: #2B270E;
font-size: 14px;
}

.counter {
  display: flex;
  float: right;
  font-family: 'Bungee', cursive;
  font-size: 14px;
  color: #474631;
}