* {
  box-sizing: border-box;
}

.all-tweets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.tweet-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  height: 150px;;
  border: 3px solid #474631;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 40%;
  width: 100%;
}

.user {
  float: left;
  font-size: 16px;
  margin-left: 10px;
  width: 100%;
}

.user-handle {
  float: right;
  font-size: 16px;
  opacity: 0.5;
  font-weight: 400;
  margin-right: 10px;
}

.avatar {
  float: left;
  font-size: 35px;
  color: #2B270E;
  margin-left: 5px;
  margin-top: 5px;
}

.tweet-content {
  font-size: 18px;
  word-break: break-all;
  border-bottom: 2px solid #474631;
  margin-left: 5px;
  margin-right: 5px;;
  margin-top: 20px;
}

.tweet-box:hover {
  box-shadow: 3px 5px #87795F;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}
.tweet-age {
  font-size: 10px;
  float: left;
  padding-left: 10px;
  padding-top: 2px;
}

.icons {
  float: right;
  color: #474631;
  padding-right: 5px;
  padding-top: 2px;
}

.fa-cloud-moon {
  padding-left: 2px;
  padding-right: 5px;
}

.fa-cloud-moon:hover {
  color:#b34a20;
}
.fa-skull-crossbones {
  padding-right: 2px;
}
.fa-skull-crossbones:hover {
  color:#b34a20;
}
.fa-crow {
  padding-left: 4px;
  padding-right: 4px;
}
.fa-crow:hover {
  color:#b34a20;
}