.tweet-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
  margin-top: 0.5rem;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: flex-start;
  height: 150px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border: 3px solid #474631;
}

.user-info {
  display: flex;
  flex-direction: row;
  width: 90%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: stretch;
}

.username {
  display: flex;
  margin-right: 9rem;
  margin-bottom: 1.5rem;
}

.at-username {
  display:flex;
  flex-direction: flex-end;
  font-size: 16px;
  color: #474631;
  padding-right: 1em;
  padding-top: .5em;
}

.fa-skull {
  display: flex;
  flex-direction: row;
  font-size: 35px;
  color: #2B270E;
  padding-left: 0.2em;
  padding-top: 0.2em;
  padding-bottom: 1em;
}

.tweet-content {
  align-items: center;
  font-size: 18px;
  border-bottom: 2px solid #474631;
  padding: 1px 0px 10px 10px;
  margin-left: .3em;
  margin-right: .3em;
  margin-bottom: .1em;
}

.tweet-box:hover {
  box-shadow: 3px 5px #87795F;
}


.tweet-age {
  font-size: 10px;
  float: left;
  padding-left: 1em;
  padding-top: .5em;
}

.icons {
  display: flex;
  justify-content: space-between;
  float: right;
  font-size: 10px;
  color: #474631;
  padding-right: 1em;
  padding-top: .5em;
}

.fa-cloud-moon {
  padding-left: 2px;
}
.fa-skull-crossbones {
  padding-right: 2px;
}
.fa-crow {
  padding-left: 4px;
  padding-right: 4px;
}
