* {
  box-sizing: border-box;
}

.all-tweets {
  width: 100%
}

.tweet-box {
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex-wrap: nowrap;
  height: 150px;
  border: 3px solid #474631;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.user {
  width: 75%;
  font-size: 16px;
  padding-left: 10px;
  padding-bottom: 70px;
}

.user-handle {
  width: 15%;
  font-size: 16px;
  padding-bottom: 70px;
  opacity: 0.5;
  font-weight: 400;
}

.avatar {
  font-size: 35px;
  width: 10%;
  color: #2B270E;
  padding: 0px 0px 25px 0px;
}

.tweet-content {
  font-size: 18px;
  border-bottom: 2px solid #474631;
  margin-left: .3em;
  margin-right: .3em;
  margin-bottom: .1em;
}

.tweet-box:hover {
  box-shadow: 3px 5px #87795F;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}
.tweet-age {
  font-size: 10px;
  float: left;
  padding-left: 1em;
  padding-top: .5em;
}

.icons {
  float: right;
  color: #474631;
  padding-right: 5px;
  padding-top: 2px;
}

.fa-cloud-moon {
  padding-left: 2px;
}
.fa-skull-crossbones {
  padding-right: 2px;
}
.fa-crow {
  padding-left: 4px;
  padding-right: 4px;
}
